/* line 1, ../../../Desktop/segundaentrega/scss/partials/_reset.scss */
body {
  font-family: "Rubik", sans-serif !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
  background-color: #fff; }

/* line 1, ../../../Desktop/segundaentrega/scss/partials/_header.scss */
.carousel-inner {
  height: 550px; }
  /* line 4, ../../../Desktop/segundaentrega/scss/partials/_header.scss */
  .carousel-inner img {
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%; }

/* line 11, ../../../Desktop/segundaentrega/scss/partials/_header.scss */
#iconmont {
  width: 50px;
  height: 50px; }

/* line 18, ../../../Desktop/segundaentrega/scss/partials/_header.scss */
nav li a {
  padding-left: 12px !important;
  padding-right: 12px !important; }
  /* line 23, ../../../Desktop/segundaentrega/scss/partials/_header.scss */
  nav li a:hover {
    font-size: 18px;
    font-weight: 600; }

/* line 1, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#carrouselCard {
  height: 300px; }
  /* line 4, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
  #carrouselCard img {
    height: 300px; }

/* line 9, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#cardEx {
  height: 600px;
  object-fit: cover;
  object-position: 50% 50%; }

/* line 15, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#h4 {
  width: 90%;
  text-align: center;
  align-items: center;
  margin-left: 5%; }

/* line 22, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#card {
  transition: all 0.5s; }
  /* line 25, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
  #card:hover {
    transform: scale(1.05);
    z-index: 1; }

/* line 31, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
.card-header {
  font-size: 18px;
  text-align: center;
  font-weight: 600; }

/* line 36, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#ubiTitle {
  font-weight: 600; }

/* line 39, ../../../Desktop/segundaentrega/scss/partials/_main.scss */
#h2Contact {
  font-size: 22px !important; }

/* line 1, ../../../Desktop/segundaentrega/scss/partials/_animations.scss */
.slide-in-blurred-right {
  animation: slide-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@media (max-width: 1024px) {
  /* line 49, ../../../Desktop/segundaentrega/scss/partials/_animations.scss */
  [data-aos='fade-up'] {
    transform: none !important; }
  /* line 52, ../../../Desktop/segundaentrega/scss/partials/_animations.scss */
  [data-aos='fade-right'] {
    transform: none !important; }
  /* line 55, ../../../Desktop/segundaentrega/scss/partials/_animations.scss */
  [data-aos='fade-left'] {
    transform: none !important; }
  /* line 58, ../../../Desktop/segundaentrega/scss/partials/_animations.scss */
  .slide-in-blurred-right {
    animation: none !important; } }

/*-------MEDIAQUERIES PERS.------*/
@media (min-width: 1023px) {
  /* line 4, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  .carousel-inner {
    height: 80vh; }
  /* line 7, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  .carousel-inner img {
    height: 80vh;
    object-fit: cover;
    object-position: 50% 50%; }
  /* line 13, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #h2 {
    padding-top: 100px !important;
    padding-bottom: 100px !important; }
  /* line 17, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #h22 {
    padding-top: 100px !important;
    padding-bottom: 100px !important; }
  /* line 21, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #h2ex {
    padding-top: 100px !important; }
  /* line 24, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #h4 {
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left: 15%;
    padding-bottom: 100px; }
  /* line 31, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #iframe {
    height: 630px !important; }
  /* line 34, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #iframe iframe {
    height: 600px !important; }
  /* line 37, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #bodyCard p {
    padding: 50px; }
  /* line 40, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #bodyCard h5 {
    margin-top: 43px; }
  /* line 43, ../../../Desktop/segundaentrega/scss/partials/_mediaqueries.scss */
  #iconsFt {
    margin-top: 0 !important; } }

/*# sourceMappingURL=styles.css.map */