                    //variables//

$mainFont:"Rubik", sans-serif;
$colorOne:#fff; 
$mainWeight:600;

                    //imports//

@import "./partials/reset";

@import "./partials/header";

@import "./partials/_main";

@import "./partials/animations";

@import "./partials/mediaqueries";
