                    //variables//

$mainFont:"Roboto", sans-serif;
$colorOne:#fff; 
$mainWeight:600;
$colorTwo:rgb(17,25,99);
$colorThree: #808080;

                    //imports//

@import "./partials/reset";

@import "./partials/header";

@import "./partials/_main";

@import "./partials/animations";

@import "./partials/mediaqueries";
