.carousel-inner{
    height: 550px;
}
.carousel-inner img{
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%
}
#iconmont{
    width: 50px;
    height: 50px;
}

#carrouselCard{
    height: 300px;
}
#carrouselCard img{
    height: 300px;
}

#cardEx{
    height: 600px;
}
#h4{
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}
.card{
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.05);
    z-index: 1;
}

@media (min-width:1023px) {
    .carousel-inner{
        height: 80vh;
    }
    .carousel-inner img{
        height: 80vh;
        object-fit: cover;
        object-position: 50% 50%
    
    }  
    #h2{
        padding-top: 100px !important;
        padding-bottom: 100px !important; 
    }
    #h2ex{
        padding-top: 100px!important;        
    }
    #h4{
        width: 70%;
        text-align: center;
        align-items: center;
        margin-left: 15%;
        padding-bottom: 100px;
    }
    #iframe{
        height: 630px!important;
    }
    #iframe iframe{
        height: 600px!important;
    }
    #bodyCard p{
        padding:50px ;
    }
    #bodyCard h5{
        margin-top: 50px;
    }

}




