
  @media (max-width:1024px) {
    [data-aos='fade-up'] {
        transform: none!important;
      }  
    [data-aos='fade-right'] {
        transform: none !important;;
      }
    [data-aos='fade-left'] {
        transform: none!important;
      }
      .slide-in-blurred-right{
        animation: none!important;
      }
  }

  