#carrouselCard{
    height: 300px;

    img{
        height: 300px;
    }
}

#cardEx{
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%
}

#h4{
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}

#card{
    transition: all 0.5s;

    &:hover{
        transform: scale(1.05);
        z-index: 1;
    }
}

.card-header{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
#ubiTitle{
    font-weight: 600;
}
#h2Contact{
    font-size: 22px!important;
}

