
#carrouselCard{
    height: 400px;

    img{
        height: 400px;
        object-fit: cover;
    }
}
h1,h2,h3,h4,h5{
    font-family: 'Cormorant Garamond', serif;
}
button{
    font-family:$mainFont;
}
#btnunits{
    width:100%;
    display: flex;
    justify-content: center;
    .btn{
        width: 80%;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $mainFont;
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
        background-color: #6c757d;
        &:hover{
            color: #6c757d;
            background-color: white;
            border-color: #6c757d;
        }

    }
}
.pm{
    width: 80%;
    margin: auto;
    font-size: 18px;
    font-weight: $mainWeight;
    color: gray;
}

#cardEx{
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%
}

#h4{
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}
#h5{
    width: 90%;
    text-align: center;
    align-items: center;
    margin-left: 5%;
}

#card{
    transition: all 0.5s;

    .card-title{
        font-weight: $mainWeight;
    }

    &:hover{
        transform: scale(1.05);
        z-index: 1;
    }
}

#ubiTitle{
    font-weight: $mainWeight;
}


/* ----------  HTML UNITS ------- */

.breadcrumb{
    margin-left: 30px;
}
.card{
    .card-title, .card-header{
        font-weight:$mainWeight;
    }
}

.carrousel2{
    height: 300px;
    img{
        height: 300px;
    }
}

/* ------------------ HTMLS CABAÑAS ---------------------*/

.abs{
    position: absolute;
    top: 15%;
    left: 5%;
    color: $colorOne;
    font-weight: $mainWeight;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    h2{
        font-size:25px ;
    }
}
.icons{
    h2{
        color:gray;
        font-size: 25px;
    }
    h3{
        color: gray;
        font-size: 20px!important;
    }
}
.info{
    font-size: 30px!important;
    color: rgb(51, 51, 51);
    font-weight: $mainWeight;
}

h2{
   font-size: 36px;
   font-weight:300; 
}
h3{
    color: gray;
    font-size: 22px!important;
    font-weight:$mainWeight!important;
}
.infor{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    p{
        margin: 0;
        padding-left: 20px;
        
    }
}
.services{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

/*----------HTML ACTIVITIES--------*/
.max{  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow-x: hidden;
    .contenedor{
        background-color: rgb(252, 252, 252);
        width: 350px;
        height: 500px;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;

        img{
            width: 350px;
            height: 450px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        h2{
            font-family: $mainFont;
            font-size: 26px;
            font-weight: $mainWeight;
            position: absolute;
            bottom:12%;
            left: 10px;
            color: white;
            text-shadow: 1px 1px 2px black
        }
         h3{
            bottom: 20%;
            position: absolute;
            left:10px;
            color:white;
            font-family: $mainFont;
            text-shadow: 1px 1px 2px black
         }
        .modal{
            
            .modal-body{
                padding-bottom: 0;
            }
            .modal-title{
                color: rgb(17, 25, 99);
                position: relative;
                font-size:20px!important;
                text-shadow: none;
            }
            p{
                font-size: 16px;
                font-weight: $mainWeight;
                color: black;
                margin-bottom: 15px;
            }
            .divsModal{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .containModal{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 5px;
                    img{
                        width:50px;
                        height: 50px;
                        margin-bottom: 10px;
                    }
                    #h3{
                        font-size: 18px!important;
                        position: relative;
                        bottom: 0;
                        left:0;
                        color: $colorThree;
                        font-family: 'Cormorant Garamond', serif;
                        text-shadow: none;
                        margin-bottom: 0;
                    }
                    h4{
                        font-size: 16px;
                        font-family: 'Cormorant Garamond', serif;
                        font-weight: $mainWeight;
                        color: $colorThree;
                    }
                }
            }
         }
         button{
            width: auto;
            margin-top: 5px;
         }
    }
}


