body{
    font-family: $mainFont !important;
    overflow-x: hidden!important;
    box-sizing: border-box;
    background-color: $colorOne;
    width: 100%!important;
    float: left!important;
}
